@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components{
  .headerIconWrapper{
    @apply flex items-center justify-center hover:bg-gray-100 transition duration-300 cursor-pointer;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: lightgray;
  }
  .logoNameWrapper{
    @apply flex items-center justify-center hover:bg-gray-100 transition duration-300;
    width: 150px;
    height: 50px;
    border: solid 1px lightgray;
    border-radius: 50px;
    box-shadow:0px;
    overflow:hidden;
    display:flex;
    background-color: lightgray;
  }
  .navbar__link:hover{
    color:rgb(71 85 105);
    transition: all 0.4s;
  }
  .navbar__link::after{
    position: absolute;
    content: "";
    background-color:  rgb(71 85 105);;
    height: 3px;
    width: 100%;
    bottom: -5px;
    left: 0;
    scale: 0;
    transform-origin: left;
    transition: all 0.4s;
  }
  .navbar__link:hover::after{
    scale: 1;
  }
}